@media (max-width: 720px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 540px) {
  html {
    font-size: 8px;
  }
}
.two-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.two-line-ellipsis.expanded {
  -webkit-line-clamp: unset; 
}
.teacher-information {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}
.teacher-information.expanded {
  -webkit-line-clamp: unset; 
}