    #alert_danger,
    #alert_success {
        opacity: 0;
        min-width: 250px;
        position: fixed;
        top: 140px;
        right: 30px;
        max-width: 450px;
        padding: 10px 15px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: opacity 0.5s ease-out;
        animation: alert_in_flow 0.5s ease-in-out forwards;
        z-index: 20;
    }

    @keyframes alert_in_flow {
        from {
            opacity: 0;
            transform: translateX(100%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }